<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="css/main.css" crossorigin="anonymous">
  <title>Templo do Rio de Janeiro - Visitação Pública</title>
</head>

<body>

  <div id="app" v-cloak>
    <!-- Vue.JS App -->

    <div class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#"><i class="fa fa-place-of-worship"></i> Templo do Rio de Janeiro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Agendamento <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reservas.html">Reservas</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="disponiveis.html">Horários Disponíveis</a>
            </li>
          </ul>
        </div>
      </nav>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Início</a></li>
          <li class="breadcrumb-item active">Horários Disponíveis</li>
        </ol>
      </nav>
    </div>

    <div class="container">
    <h4>Horários Disponíveis</h4>
    <!-- Filtro -->
    <div style="display:none">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Data</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Modelo" aria-describedby="button-addon1">
      </div>
    </form> 
    </div>
    <!-- Filtro -->

    <br/>

    <div>        
      <template v-for="agendamento in agendamentos">
        <strong>Data: {{agendamento.data}}</strong>

          <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-2" v-for="horario in agendamento.horarios">
              <div class="card">
                <div v-if="!horario.selecionado && !horario.indisponivel"
                  class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                  {{horario.hora}} <span class="badge badge-info badge-pill">{{horario.vagas}} Vaga(s)</span></div>
                <div v-if="horario.selecionado && !horario.indisponivel"
                  class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active">
                  {{horario.hora}} <span class="badge badge-info badge-pill">{{horario.vagas}} Vaga(s)</span></div>
      
                  <div v-if="horario.indisponivel"
                  class="list-group-item d-flex justify-content-between align-items-center list-group-item-action disabled">
                  {{horario.hora}} <span class="badge badge-secondary badge-pill">Sem Vaga</span></div>
              </div>
            </div>
          </div>
      </template>
    </div>

  </div>

  </div>

  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
      class="fas fa-chevron-up"></i></a>

  <footer class="border-top footer text-muted text-center">
    <br />
    <div class="container">
      &copy; 2020 - Templo do Rio de Janeiro
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="js/disponiveis.vue.js"></script>
  
</body>

</html>